/* Overal Document Styling */

html, body {
   height: 100%;
   margin: 0;
}

body {
   background-image: url("../images/morocco-blue.png");
}

.container {
   max-width: 960px;
   min-height: 100%;
   margin-bottom: -50px; /* negative is same measurement as footer height */
   background: white;
}

.container::after {
   content: "";
   display: block;
}

/* Navigation Styling */

.nav {
   margin-left: auto;
}

.navbar-brand {
   margin-right: auto;
}

/* Image Styling */

.headshot {
   width: 200px;
   margin-right: 15px;
   margin-bottom: 15px;
   border: #222222;
   padding: 2px;
}

/* Portfolio Styles */

.card-title {
   color: white;
}

/* Footer Styles */

footer {
   border: 1px solid #222222;
   padding: 3em;
}

   footer, .container::after {
      height: 50px;
   }